Source: linux-firmware
Maintainer: Igor Savlook <isav@alzari.pw>
Section: kernel
Priority: standard
Build-Depends: debhelper (>= 13.1~),
               debhelper-compat (= 13),
               make (>= 3.81~),
               xz-utils
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://www.kernel.org/

Package: linux-firmware
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Provides: firmware-linux-free,
          firmware-amd-graphics,
          firmware-atheros,
          firmware-bnx2,
          firmware-bnx2x,
          firmware-brcm80211,
          firmware-cavium,
          firmware-intel-sound,
          firmware-intelwimax,
          firmware-ipw2x00,
          firmware-ivtv,
          firmware-iwlwifi,
          firmware-libertas,
          firmware-linux,
          firmware-linux-nonfree,
          firmware-misc-nonfree,
          firmware-myricom,
          firmware-netronome,
          firmware-netxen,
          firmware-qcom-media,
          firmware-qcom-soc,
          firmware-qlogic,
          firmware-realtek,
          firmware-samsung,
          firmware-siano,
          firmware-ti-connectivity
Conflicts: firmware-linux-free,
           firmware-amd-graphics,
           firmware-atheros,
           firmware-bnx2,
           firmware-bnx2x,
           firmware-brcm80211,
           firmware-cavium,
           firmware-intel-sound,
           firmware-intelwimax,
           firmware-ipw2x00,
           firmware-ivtv,
           firmware-iwlwifi,
           firmware-libertas,
           firmware-linux,
           firmware-linux-nonfree,
           firmware-misc-nonfree,
           firmware-myricom,
           firmware-netronome,
           firmware-netxen,
           firmware-qcom-media,
           firmware-qcom-soc,
           firmware-qlogic,
           firmware-realtek,
           firmware-samsung,
           firmware-siano,
           firmware-ti-connectivity
Replaces: firmware-linux-free,
          firmware-amd-graphics,
          firmware-atheros,
          firmware-bnx2,
          firmware-bnx2x,
          firmware-brcm80211,
          firmware-cavium,
          firmware-intel-sound,
          firmware-intelwimax,
          firmware-ipw2x00,
          firmware-ivtv,
          firmware-iwlwifi,
          firmware-libertas,
          firmware-linux,
          firmware-linux-nonfree,
          firmware-misc-nonfree,
          firmware-myricom,
          firmware-netronome,
          firmware-netxen,
          firmware-qcom-media,
          firmware-qcom-soc,
          firmware-qlogic,
          firmware-realtek,
          firmware-samsung,
          firmware-siano,
          firmware-ti-connectivity
Description: Binary firmware code for the Linux kernel
 This package contains the binary firmware for various modules used in
 the Linux kernel.
