#!/usr/bin/make -f

# All debhelper tools will parse command line arguments listed in this variable
# before any command option (as if they had been prepended to the command line
# arguments). Unfortunately, some third-party provided tools may not support
# this variable and will ignore these command line arguments.
#
# When using dh(1), it can be passed options that will be passed on to each
# debhelper command, which is generally better than using DH_OPTIONS.
export DH_OPTIONS

build: build-indep build-arch

build-arch:
	dh_testdir

build-indep:
	dh_testdir

binary: binary-indep binary-arch
	dh_testdir

binary-linux-firmware: DEB_PACKAGE_NAME := linux-firmware
binary-linux-firmware: DEB_PACKAGE_DIR := "$(CURDIR)/debian/$(DEB_PACKAGE_NAME)"
binary-linux-firmware: DH_OPTIONS := --package=$(DEB_PACKAGE_NAME)
binary-linux-firmware:
	dh_testdir
	dh_testroot
	dh_prep

# Install kernel firmwares.
	$(MAKE) DESTDIR="$(DEB_PACKAGE_DIR)" install
	find "$(DEB_PACKAGE_DIR)/lib/firmware" -type f \
		\( -name "*.bin" -o -name "*.fw" -o -name "*.img" -o -name "*.ucode" \) \
		-exec chmod -x {} \+

	dh_installchangelogs
	dh_installdocs
	dh_link
	dh_lintian
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
	dh_testroot

binary-indep: binary-linux-firmware
	dh_testdir

.PHONY: binary binary-% build build-% clean
